{{- $title := .Title -}}
{{- $siteTitle := "Lawtee" -}} 

{{- if .IsHome -}}
    <!-- Homepage, and it's pagination -->

    <!-- Build paginator -->
    {{ $pages := where .Site.RegularPages "Section" "in" .Site.Params.mainSections }}
    {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
    {{ $filtered := ($pages | intersect $notHidden) }}
    {{ $pag := .Paginate ($filtered) }}

{{/* 筛选显示瞬间中前2条内容
    {{ $filtered = $filtered.ByDate.Reverse }} 
    {{ $shunjian := where $filtered "Params.categories" "intersect" (slice "瞬间") }} 
    {{ $shunjianLatest := first 2 $shunjian }}
    {{ $filtered = $filtered | complement $shunjian }}
    {{ $filtered = $filtered | append $shunjianLatest }}
    {{ $filtered = $filtered.ByDate.Reverse }}
    {{ $pag := .Paginate ($filtered) }}
*/}}


{{/* 筛选排除瞬间内容
    <!-- Build paginator -->
    {{ $pages := where .Site.RegularPages "Section" "in" .Site.Params.mainSections }}
    {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
    {{ $filtered := ($pages | intersect $notHidden) }}
    {{ $excluded := where $filtered "Params.categories" "intersect" (slice "瞬间" "moments") }}
    {{ $filteredWithoutExcluded := $filtered | complement $excluded }}
    {{ $pag := .Paginate $filteredWithoutExcluded }}
*/}}
    

    {{ if .Paginator.HasPrev }}
        <!-- Paginated. Append page number to title -->
        {{ $title = printf "%s - %s" .Paginator $siteTitle }}
    {{ else }}
        {{ $title = $siteTitle}}
    {{ end }}
{{- else if eq .Kind "term" -}}
    <!-- Taxonomy page -->

    <!-- Build paginator -->
    {{ $notHidden := where .Pages "Params.hidden" "!=" true }}
    {{ $pag := .Paginate ($notHidden) }}

    <!-- {TAXONOMY_TYPE}: {TAXONOMY_TERM} -->
    {{ $title = slice (title .Data.Singular) ": " $title }}

    {{ if .Paginator.HasPrev }}
        <!-- Add page number-->
        {{ $title = $title | append " - " .Paginator }}
    {{ end }} 

    {{ $title = $title | append " - " $siteTitle }}
    {{ $title = delimit $title "" }}
{{- end -}}

{{ return $title }}