{{ define "body-class" }}template-archives{{ end }}
{{ define "main" }}
    <header>
        <h2 class="article-title">想法</h2>
        
    </header>

    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $notHidden := where $pages "Params.hidden" "!=" true }}
    {{ $filtered := where $notHidden ".Params.categories" "intersect" (slice "朋友圈" "moments" "想法" "thinks") }}

    <div class="article-list--compact">
        {{ range $filtered }}
            {{ partial "article-list/compact" . }}
        {{ end }}
    </div>

    {{ partialCached "footer/footer" . }}
{{ end }}
