{{- $scope := default "homepage" .Scope -}}
{{- $context := .Context -}}
{{- with (index .Context.Site.Params.widgets $scope) -}}
    <aside class="sidebar right-sidebar sticky">
        {{ range $widget := . }}
            {{ if templates.Exists (printf "partials/widget/%s.html" .type) }}
                <!-- Ensure that the `params` is not nil -->
                {{- $params := default dict .params -}}

                {{ partial (printf "widget/%s" .type) (dict "Context" $context "Params" $params) }}
            {{ else }}
                {{ warnf "Widget %s not found" .type }}
            {{ end }}
        {{ end }}

        
        {{ $url := "https://news.hyruo.com/wp-json/wp/v2/posts?per_page=7" }}
        {{ $remoteData := resources.GetRemote $url }}
        {{ $posts := slice }}
        
        {{ if $remoteData }}
          {{ $parsedData := $remoteData | transform.Unmarshal }}
          {{ if reflect.IsSlice $parsedData }} <!-- 确保解析后是数组 -->
            {{ range $parsedData }}
              <!-- 检查每个条目是否为 map，并包含必要字段 -->
              {{ if and (reflect.IsMap .) (isset . "link") (isset . "title") (isset .title "rendered") }}
                {{ $posts = $posts | append . }}
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
        
        <section class="widget archives">
            <div class="widget-archive--list">
                <ul>
                    {{ range $posts }}
                        <li>
                            <a href="{{ .link }}" target="_blank">{{ .title.rendered }}</a>
                        </li>
                    {{ else }}
                        <li>暂无最新文章</li>
                    {{ end }}
                </ul>
            </div>
        </section>
    </aside>
{{ end }}