{{- $scope := default "homepage" .Scope -}}
{{- $context := .Context -}}
{{- with (index .Context.Site.Params.widgets $scope) -}}
    <aside class="sidebar right-sidebar sticky">
        {{ range $widget := . }}
            {{ if templates.Exists (printf "partials/widget/%s.html" .type) }}
                <!-- Ensure that the `params` is not nil -->
                {{- $params := default dict .params -}}

                {{ partial (printf "widget/%s" .type) (dict "Context" $context "Params" $params) }}
            {{ else }}
                {{ warnf "Widget %s not found" .type }}
            {{ end }}
        {{ end }}

        
        {{ $url := "https://news.hyruo.com/wp-json/wp/v2/posts?per_page=7" }}
        {{ $remoteData := resources.GetRemote $url }}
        {{ $posts := $remoteData | transform.Unmarshal }}
        
        <section class="widget archives">
            <div class="widget-icon">
                {{ partial "helper/icon" "rss" }}
            </div>
            <h2 class="widget-title section-title">
                <a href="https://news.lawtee.com/" target="_blank">News</a>
            </h2>
            <div class="widget-archive--list">
                <ul>
                    {{ if $posts }}
                        {{ range $posts }}
                            {{ if .link }}
                                <li>
                                    <a href="{{ .link }}" target="_blank">{{ .title.rendered | safeHTML }}</a>
                                </li>
                            {{ else if .guid }}
                                <li>
                                    <a href="{{ .guid.rendered }}" target="_blank">{{ .title.rendered | safeHTML }}</a>
                                </li>
                            {{ else }}
                                <li>Invalid post data</li>
                            {{ end }}
                        {{ end }}
                    {{ else }}
                        <li>No posts available</li>
                    {{ end }}
                </ul>
            </div>
        </section>
    </aside>
{{ end }}