{{ define "main" }}
<section class="article-list">
    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $notHidden := where $pages "Params.categories" "intersect" (slice "moments" "瞬间") }}
    {{ $filtered := ($pages | intersect $notHidden) }}

    <!-- 使用 paginate 分页 -->
    {{ $paginator := .Paginate $filtered }}

    <!-- 渲染当前页的文章 -->
    {{ range $paginator.Pages }}
      <div class="article-item">
        {{ partial "article-list/default" . }}  <!-- 使用原始 partial 渲染文章 -->
      </div>
    {{ end }}

    <!-- 分页导航 -->
    {{- partial "pagination.html" . -}}
</section>
{{ partialCached "footer/footer" . }}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}